{{> head}}
{{> header}}

<section class="confirm">
  <div class="ink-grid">
  <div class="column-group horizontal-gutters">
    <div class="all-33 small-100 tiny-100 order-1">
      <h2>Make</h2>
      <p>Creating products is hard, selling them shouldn't be. We let you start selling your products in seconds.</p>
    </div>
    <div class="all-33 small-100 tiny-100 order-2">
      <h2>Share</h2>
      <p>We share your work among thousand of people in our platform.</p>
    </div>
    <div class="all-33 small-100 tiny-100 order-3">
      <h2>Profit</h2>
      <p>Just sit back and relax while we take care of everything.</p>
    </div>
  </div>
    <div class="column-group push-middle">
      <div class="xlarge-70 large-70 all-80 align-center push-center">
        <a href="/new" class="ink-button green">SELL YOUR PRODUCT!!</a>
      </div>
    </div>
  </div>
</section>

<section class="cool">
  <div class="ink-grid">
    <h1>Available Products</h1>
    <div class="column-group horizontal-gutters">

        {{#each products}}
        <div class="all-25 medium-50 small-100 tiny-100">
          <div class="column">
            <div>
              <a href="/products/{{ _id }}">
              {{# if photo_url }}
                <img src="{{ photo_url }}" width="260" height="200" />
              {{ else }}
                <img src="/img/default.png" width="260" height="200" />
              {{/if}}
              </a>
              <h3><a href="/products/{{ _id }}">{{ title }}</a></h3>
              <h4>{{ price }} €</h4>
            </div>
          </div>
        </div>
        {{/each}}

    </div>
  </div>
</section>


{{> footer}}
