{{> head}}
{{> header}}

<form class="ink-form" action="/new_product" method="post">
    <p id="formerrors" class="tip"></p>
    <div class="control-group required">
        <label for="title">Product Name</label>
        <div class="control">
            <input id="title" name="title" type="text" placeholder="Banana Bag">
        </div>
    </div>
    <div class="control-group required">
        <label for="description">Product Description</label>
        <div class="control">
            <textarea id="description" name="description" rows="5" cols="35">This description tells the buyer how bananalicious your product is</textarea>
        </div>
    </div>
    <div class="control-group required">
        <label for="price">Price</label>
        <div class="control">
            <input id="price" name="price" type="text" placeholder="El diñero">
        </div>
    </div>
    <div class="control-group required">
        <label for="email">Email</label>
        <div class="control">
            <input id="email" name="email" type="text" placeholder="wallet@mail.com">
        </div>
    </div>
    <button class="ink-button" onclick="return sendFormFromHTML(this.form);">Submit</button>
</form>

<script type="text/javascript">
    function sendFormFromHTML(form) {
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.onload = function(e) {
            var resp = JSON.parse(this.responseText);
            if (resp.error) {
                document.getElementById("formerrors").innerHTML = resp.message;
            }
            else {
                window.location = "/products/" + resp.id;
            }
        };
        xhr.send(formData);
        return false;
    }
</script>
{{> footer}}