{{> head}}
{{> header}}

<section class="cool">
  <div class="ink-grid">
    <div class="column-group push-middle">
      <div class="xlarge-80 large-80 all-100 align-center push-center">
        <h1>Add new product</h1>

        <form class="ink-form" action="/new" method="post">
            <div class="control-group required">
                <label for="title">Product Name</label>
                <div class="control">
                    <input id="title" name="title" type="text" placeholder="Banana Bag">
                </div>
            </div>
            <div class="control-group required">
                <label for="description">Product Description</label>
                <div class="control">
                    <textarea id="description" name="description" rows="5" cols="35" placeholder="This description tells the buyer how bananalicious your product is"></textarea>
                </div>
            </div>
            <div class="control-group required">
                <label for="price">Price in EUR</label>
                <div class="control">
                    <input id="price" name="price" type="text" placeholder="El diñero">
                </div>
            </div>
            <div class="control-group required">
                <label for="email">Your Wallet Email</label>
                <div class="control">
                    <input id="email" name="email" type="text" placeholder="wallet@mail.com">
                </div>
            </div>

            <div id="alertbox" class="ink-alert basic error" style="display:none;">
                <button class="ink-dismiss">&times;</button>
                <p id="formerrors"> There's a warning for you</p>
            </div>

            <button class="ink-button blue" onclick="return sendFormFromHTML(this.form);">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    function sendFormFromHTML(form) {
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.onload = function(e) {
            var resp = JSON.parse(this.responseText);
            if (resp.error) {
                document.getElementById("alertbox").style.display = "block";
                document.getElementById("formerrors").innerHTML = "<b>Error:</b> "+resp.message;
            }
            else {
                window.location = "/products/" + resp.id;
            }
        };
        xhr.send(formData);
        return false;
    }
</script>

{{> footer}}