{{> head}}
{{> header}}

<form class="ink-form" action="/new_product" method="post">
    <div class="control-group required">
        <label for="title">Product Name</label>
        <div class="control">
            <input id="title" name="title" type="text" placeholder="Banana Bag">
        </div>
    </div>
    <div class="control-group required">
        <label for="description">Product Description</label>
        <div class="control">
            <textarea id="description" name="description" rows="5" cols="35">This description tells the buyer how bananalicious your product is</textarea>
        </div>
    </div>
    <div class="control-group required">
        <label for="price">Price</label>
        <div class="control">
            <input id="price" name="price" type="text" placeholder="El diñero">
        </div>
    </div>
    <div class="control-group required">
        <label for="email">Email</label>
        <div class="control">
            <input id="email" name="email" type="text" placeholder="wallet@mail.com">
        </div>
    </div>
    <button class="ink-button">Submit</button>
</form>

{{> footer}}